body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff6cc;
}

#game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#images-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-right: 10px;
    align-items: center;
    margin-bottom: 20px;
}

#images-container .box1 {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;

}
#images-container .box2 {
display: flex;
gap: 15px;

}

img {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover;
    border-radius: 5px;

}

.game-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

#word-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.word-letter {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
;
}

#letters-container {
    display: grid;
    grid-template-columns: repeat(13, auto);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.letter-btn {
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #88b51e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message {
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

